
body {
    text-align: center;
    background-color: rgb(24, 61, 58);
    color: black;
    background-image: url(../IMAGES/brownishjpg);
    background-repeat:round;
    background-position:top;
}

p{
    background-color: black;
    font-size: large;
    color: rgb(194, 78, 98);
}
form{
    padding: 12px;
}